{% extends 'website/template_sidebar_page.html' %}
{% load static %}



{% block side-bar %}
    <!-- profile image -->
    <div class="mb-3">
        {% if request.user.image %}
            <img class="rounded w-75" src="{{ request.user.image.url }}" alt="photo">
        {% else %}
            <img class="rounded w-75"
                 src="{% static 'accounts/img/default_profile_photo.png' %}" alt="static">
        {% endif %}
    </div>
    <!-- profile image -->

    <!-- personal_info_detail -->
    <a href="{% url 'accounts:personal-info-detail' %}"
       class="list-group-item list-group-item-action {{ personal_info_detail }} {{ personal_info_update }}">
        اطلاعات حساب کاربری
    </a>
    <!-- personal_info_detail -->

    <!-- user_address_list -->
    <a href="{% url 'accounts:user-address-list' %} "
       class="list-group-item list-group-item-action {{ user_address_list }} {{ user_address_create }} 
             {{ user_address_update }} {{ user_address_detail }}">
        آدرس های من
    </a>
    <!-- user_address_list -->

    <!-- change password -->
    <a href="{% url 'home' %} "
       class="list-group-item list-group-item-action {{ customer_register }}">
        رمز عبور
    </a>
    <!-- change password -->

    <!-- staff_selected -->
    {% if is_staff %}
        <a href="{% url 'vendors:staff-list' %} "
           class="list-group-item list-group-item-action {{ staff_selected }}">
            فروشگاه
        </a>
    {% endif %}
    <!-- staff_selected -->

    <!-- orders -->
    <a href="{% url 'home' %} " class="list-group-item list-group-item-action {{ customer_register }}">
        سفارشات
    </a>
    <!-- orders -->

    <!-- store product list -->
    {% if is_staff %}
        <a href="{% url 'vendors:store-product-list' %} "
           class="list-group-item list-group-item-action {{ dashboard_store_product_section }}">
            محصولات
        </a>
    {% endif %}
    <!-- store product list -->

    <!-- store discount list -->
    {% if is_staff %}
        <a href="{% url 'vendors:store-discount-list' %} "
           class="list-group-item list-group-item-action {{ store_discount_section }}">
            تخفیفات
        </a>
    {% endif %}
    <!-- store discount list -->

    <!-- my comments and rates -->
    {% if is_customer %}
        <a href="{% url 'customers:my-comment-list' %} "
           class="list-group-item list-group-item-action {{ my_comment_list_section }}">
            نظرات و امتیازات من
        </a>
    {% endif %}
    <!-- my comments and rates -->

    <!-- reports -->
    {% if is_owner or is_superuser %}
        <a href="{% url 'home' %} "
           class="list-group-item list-group-item-action {{ customer_register }}">
            گزارشات
        </a>
    {% endif %}
    <!-- reports -->

{% endblock %}


{% block main-content %}

    {% if form %}

        {% include 'website/sections/form.html' %}

    {% elif personal_info_detail %}

        {% include 'accounts/dashboard/personal_info_detail.html' %}

    {% elif user_address_list %}

        <div>
            {% include 'accounts/dashboard/user_address_list.html' %}
        </div>

    {% elif user_address_detail %}

        {% include 'accounts/dashboard/user_address_detail.html' %}

    {% elif staff_selected %}
        <div>
            <ul class="nav nav-pills border-bottom pb-3 mb-5">
                <li class="nav-item">
                    <a href="{% url 'vendors:staff-list' %}" class="nav-link {{ store_info_selected }}"
                       aria-current="page">
                        اطلاعات فروشگاه
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'vendors:staff-list' %}" class="nav-link {{ staff_selected }}">کارمندان</a>
                </li>
            </ul>

            {% if staff_list %}
                {% include 'vendors/dashboard/staff_list.html' %}
            {% elif staff %}
                {% include 'vendors/dashboard/staff_detail.html' %}
            {% endif %}
        </div>

    {% elif my_comment_list_section %}

        <div class="text-end">
            {% include 'products/comment_list.html' %}
        </div>

    {% elif dashboard_store_product_list_section %}

        <div>
            {% include 'vendors/dashboard/store_product_list.html' %}
        </div>

    {% elif dashboard_category_list_section %}

        <div>
            {% include 'products/category_list.html' %}
        </div>

    {% elif store_discount_section %}

        <div>
            {% include 'vendors/dashboard/store_discount_list.html' %}
        </div>

    {% endif %}
    {% if create_new_product_link_section %}
        <p class="text-right mt-4">اگر محصول مورد نظر شما در سایت وجود ندارد میتوانید <a href="">اضافه کنید</a>. </p>
    {% endif %}
{% endblock %}
