{% extends 'website/template_sidebar_page.html' %}
{% load static i18n %}


{% block side-bar %}
    <!-- profile image -->
    <div class="mb-3">
        {% if request.user.image %}
            <img class="rounded w-75" src="{{ request.user.image.url }}" alt="photo">
        {% else %}
            <img class="rounded w-75"
                 src="{% static 'accounts/img/default_profile_photo.png' %}" alt="static">
        {% endif %}
    </div>
    <!-- profile image -->

    <!-- personal_info_detail -->
    <a href="{% url 'accounts:personal-info-detail' %}"
       class="list-group-item list-group-item-action {{ account_info }} ">
        {% trans "account info" %}
    </a>
    <!-- personal_info_detail -->

    <!-- user_address_list -->
    <a href="{% url 'accounts:user-address-list' %} "
       class="list-group-item list-group-item-action {{ user_address_list }} {{ user_address_create }} 
             {{ user_address_update }} {{ user_address_detail }}">
        آدرس های من
    </a>
    <!-- user_address_list -->


    <!-- staff_selected -->
    {% if is_staff %}
        <a href="{% url 'vendors:staff-list' %} "
           class="list-group-item list-group-item-action {{ staff_selected }}">
            فروشگاه
        </a>
    {% endif %}
    <!-- staff_selected -->


    {% if is_staff or is_superuser %}
        <a href="{% url 'vendors:order-item-list' %}"
           class="list-group-item list-group-item-action {{ staff_dashboard__order_section }}">
            <!-- orders -->
            سفارشات مشتریان
        </a><!-- orders -->
    {% else %}
        <a href="{% url 'home' %}"
           class="list-group-item list-group-item-action {{ order_section }}">
            <!-- orders -->
            تاریچه سفارشات
        </a><!-- orders -->
    {% endif %}


    {% if is_staff %} <!-- store product list -->
        <a href="{% url 'vendors:store-product-list' %} "
           class="list-group-item list-group-item-action {{ dashboard_store_product_section }}">
            محصولات
        </a>
    {% endif %} <!-- store product list -->


    {% if is_staff %}<!-- store discount list -->
        <a href="{% url 'vendors:store-discount-list' %} "
           class="list-group-item list-group-item-action {{ store_discount_section }}">
            تخفیفات
        </a>
    {% endif %}<!-- store discount list -->


    {% if is_customer %} <!-- my comments and rates -->
        <a href="{% url 'products:my-comment-list' %} "
           class="list-group-item list-group-item-action {{ my_comment_list_section }}">
            نظرات و امتیازات من
        </a>
    {% endif %}<!-- my comments and rates -->


    {% if is_owner or is_superuser %} <!-- reports -->
        <a href="{% url 'home' %} "
           class="list-group-item list-group-item-action {{ customer_register }}">
            گزارشات
        </a>
    {% endif %}<!-- reports -->

{% endblock %}


{% block main-content %}

    {% if form %}

        {% include 'website/sections/form.html' %}

    {% elif account_info %}
        <div>
            <ul class="nav nav-pills border-bottom pb-3 ">
                <li class="nav-item">
                    <a href="{% url 'accounts:personal-info-detail' %}" class="nav-link {{ personal_info_detail }}"
                       aria-current="page">
                        اطلاعات شخصی
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:phone-detail' %}" class="nav-link {{ phone_detail }}">
                        شماره تماس
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:email-and-password-detail' %}"
                       class="nav-link {{ email_and_password_detail }}">
                        ایمیل و رمز عبور
                    </a>
                </li>
            </ul>

            {% if personal_info_detail %}
                {% include 'accounts/dashboard/personal_info_detail.html' %}
            {% elif email_and_password_detail %}
                {% include 'accounts/dashboard/email_and_password_detail.html' %}
            {% elif phone_detail %}
                {% include 'accounts/dashboard/phone_detail.html' %}
            {% endif %}
        </div>


    {% elif user_address_list %}

        <div>
            {% include 'accounts/dashboard/user_address_list.html' %}
        </div>

    {% elif user_address_detail %}

        {% include 'accounts/dashboard/user_address_detail.html' %}

    {% elif staff_selected %}
        <div>
            <ul class="nav nav-pills border-bottom pb-3 mb-5">
                <li class="nav-item">
                    <a href="{% url 'vendors:staff-list' %}" class="nav-link {{ store_info_selected }}"
                       aria-current="page">
                        اطلاعات فروشگاه
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'vendors:staff-list' %}" class="nav-link {{ staff_selected }}">کارمندان</a>
                </li>
            </ul>

            {% if staff_list %}
                {% include 'vendors/dashboard/staff_list.html' %}
            {% elif staff %}
                {% include 'vendors/dashboard/staff_detail.html' %}
            {% endif %}
        </div>

    {% elif my_comment_list_section %}

        <div class="text-end">
            {% include 'products/comment_list.html' %}
        </div>

    {% elif dashboard_store_product_list_section %}

        <div>
            {% include 'vendors/dashboard/store_product_list.html' %}
        </div>

    {% elif dashboard_category_list_section %}

        <div>
            {% include 'products/category_list.html' %}
        </div>

    {% elif store_discount_section %}

        <div>
            {% include 'vendors/dashboard/store_discount_list.html' %}
        </div>
    {% elif staff_dashboard__order_section %}
        <div>

            {% if order_item_section_list %}
                <ul class="nav nav-pills border-bottom pb-3 mb-5">
                    <li class="nav-item">
                        <a href="{% url 'vendors:staff-list' %}"
                           class="nav-link {{ order }}">{% trans "All" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'vendors:staff-list' %}"
                           class="nav-link {{ order_section_list }}"
                           aria-current="page">{% trans "Active" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'vendors:staff-list' %}"
                           class="nav-link {{ staff_selected }}">{% trans "Delivered" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'vendors:staff-list' %}"
                           class="nav-link {{ staff_selected }}">{% trans "Returned" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'vendors:staff-list' %}"
                           class="nav-link {{ staff_selected }}">{% trans "Canceled" %}</a>
                    </li>
                </ul>
                
                {% include 'vendors/dashboard/order_item_list.html' %}
            {% elif order_item_detail_section or order_item_update_section %}
                {% include 'vendors/dashboard/order_item_detail.html' %}
            {% endif %}
        </div>
    {% endif %}

    {% if create_new_product_link_section %}
        <p class="text-right mt-4">اگر محصول مورد نظر شما در سایت وجود ندارد میتوانید <a href="">اضافه کنید</a>. </p>
    {% endif %}

{% endblock %}
