{% load static  template_filters %}
<table class="table table-striped align-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">شماره سفارش</th>
        <th scope="col">تاریخ ثبت</th>
        <th scope="col">قیمت نهایی</th>
        <th scope="col">جزئیات</th>
    </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                {{ order.order_number }}
            </td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.total }}</td>
            <td>
                <!-- view detail -->
                <a href="{% url 'customers:order-detail' order.id %}" class="px-2" title="View"
                   style="text-decoration: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <g fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width="1.5"
                           color="currentColor">
                            <path d="M21.544 11.045c.304.426.456.64.456.955c0 .316-.152.529-.456.955C20.178 14.871 16.689 19 12 19c-4.69 0-8.178-4.13-9.544-6.045C2.152 12.529 2 12.315 2 12c0-.316.152-.529.456-.955C3.822 9.129 7.311 5 12 5c4.69 0 8.178 4.13 9.544 6.045"></path>
                            <path d="M15 12a3 3 0 1 0-6 0a3 3 0 0 0 6 0"></path>
                        </g>
                    </svg>
                </a>
                <!-- view detail -->
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
