{% extends 'website/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
          integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="main-container" class="container mt-5">
        <!-- Address section -->
        <div id="address-container" class="row ">
            <div id="" class="col ">
                <div class="card border shadow-none">
                    <div class="card-body d-flex">
                        <div class="d-flex flex-grow-1 align-items-center">
                            <p id="address-title" class="mb-0 fw-bold ps-2">
                                آدرس:
                            </p>
                            <p id="cart-address" class="mb-0 ">
                                daf
                            </p>
                        </div>
                        <div class="">
                            <!-- Add Address -->

                            <!-- addAddress Modal -->
                            <div class="modal fade" id="addAddress" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex">
                                            <h1 class="modal-title fs-5 flex-grow-1" id="exampleModalLabel">افزودن
                                                آدرس</h1>
                                            <button id="closeAddAddressModal" type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="create-new-address-form" action="" method="post">
                                                {% csrf_token %}
                                                {{ create_new_address_form }}
                                                <button id="submit-form-button" type="submit" hidden
                                                        class="btn btn-primary">
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="send-form-button" type="button" class="btn btn-success">ارسال
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Address -->

                            <!-- change Address -->
                            <!-- Button trigger changeAddressModal modal -->
                            <button id="change-address-button" type="button" class="btn btn-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#changeAddressModal">انتخاب آدرس
                            </button>

                            <!-- changeAddressModal Modal -->
                            <div class="modal fade" id="changeAddressModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex">
                                            <h1 class="modal-title fs-5 flex-grow-1" id="exampleModalLabel">انتخاب
                                                آدرس
                                            </h1>
                                            <button id="closeChangeAddressModal" type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <select id="change-address-select" class="form-select" multiple
                                                    aria-label="Multiple select example">
                                                <!-- Button trigger addAddress modal -->
                                            </select>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <button id="add-address-button" type="button" class="btn btn-success"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addAddress">افزودن آدرس جدید
                                            </button>
                                            <button id="save-selected-address" type="button" class="btn btn-primary">
                                                ذخیره
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- change Address -->

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End row -->
        <!-- Address section -->

        <!-- cart group section -->
        <div class="row">
            <div class="col-xl-8">

                <div id="cart-container" class="mb-4">
                    <!-- cart items go here -->
                </div>

            </div>

            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0 ">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">وضعیت سبد</h5>
                        </div>
                        <div class="card-body p-4 pt-2">

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>قیمت کالاها :</td>
                                        <td class="text-end"><span id="goods-total-amount">0</span> تومان</td>
                                    </tr>
                                    <tr>
                                        <td>سود شما :</td>
                                        <td class="discount text-end"><span id="profit-amount">0</span> تومان</td>
                                    </tr>
                                    <tr class="bg-light ">
                                        <th>جمع سبد خرید :</th>
                                        <td class="text-end">
                                            <span class="price fw-bold">
                                                <span id="final-amount">0</span> تومان
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                                <!-- Button trigger submitOrderModal modal -->
                                <button id="confirm-submit-order-modal-button" hidden type="button" class="btn btn-info"
                                        data-bs-toggle="modal"
                                        data-bs-target="#submitOrderModal">انتخاب آدرس
                                </button>

                                <!-- submitOrderModal Modal -->
                                <div class="modal fade" id="submitOrderModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header d-flex">
                                                <h1 class="modal-title fs-5 flex-grow-1" id="exampleModalLabel">
                                                    تائید ثبت سفارش
                                                </h1>
                                                <button id="closeSubmitOrderModal" type="button" class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p> از ثبت سفارش خود مطمئن هستید؟ </p>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-end">
                                                <button id="yes-button" type="button"
                                                        class="btn btn-success">
                                                    بله
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- change Address -->
                                <div class="d-grid gap-2">
                                    <button id="submitOrderButton" href="#" class="btn btn-success mt-3">
                                        <i class="mdi mdi-cart-outline me-1"></i>
                                        ثبت سفارش
                                    </button>
                                </div> <!-- end col -->
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart group section -->
    </div>
    <!-- end row -->
{% endblock content %}

{% block js %}
    <script src="{% static 'orders/js/cart.js' %}"></script>
{% endblock %}
