{% load static %}
<div class="row mx-2">
    <h4 class="text-center">نظرات</h4>
    {% for comment in comment_list %}
        <div class="border rounded-3 p-2 mb-2">
            <div>
                <h5>{{ comment.title }}</h5>
            </div>
            <p>{{ comment.text }}</p>
            <div class="d-flex justify-content-between">
                <p class="text-muted m-0 fs-6">{{ comment.created_at|date }}</p>
                {% if my_comment_list_section and is_customer %}
                    <p class="text-muted m-0 fs-6">وضعیت: {{ comment.status }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
