{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <!-- product section -->
    <div class="container border rounded-3 mx-auto mt-5 pt-3 bg-white">

        <!-- category hierarchy -->
        <div class="row container m-auto">
            <div>
                {% for category in product.category.category_parent_list %}
                    {{ category.name }} {% if not forloop.last %}/{% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- category hierarchy -->

        <!-- store product detail -->
        <div class="row container g-4 m-auto pb-4">
            <!-- image carousel -->
            <div class="col-6 ps-3">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for product_image in product.images.all %}
                            <div class="carousel-item {% if product_image.is_default or forloop.last %}active{% endif %}">
                                <img src="{{ product_image.image.url }}" class="d-block w-100" alt="..."
                                >
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- image carousel -->

            <div class="col">
                <!-- product name -->
                <div class="row">
                    <!-- DO NOT change value of this field. Js uses the content text to fetch data-->
                    <h3 id="product-name" class="border-bottom pb-4">{{ product.name }}</h3>
                </div>
                <!-- product name -->

                <!-- product detail  & rating form-->
                <div class="row pt-4">
                    <!-- product detail -->
                    <div class="col">
                        <p class="my-4">
                            <!-- star icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                 viewBox="0 0 72 72">
                                <path fill="#FFD700FF"
                                      d="M35.993 10.736L27.791 27.37L9.439 30.044l13.285 12.94l-3.128 18.28l16.412-8.636l16.419 8.624l-3.142-18.278l13.276-12.95l-18.354-2.66z"></path>
                                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-miterlimit="10" stroke-width="2"
                                      d="M35.993 10.736L27.791 27.37L9.439 30.044l13.285 12.94l-3.128 18.28l16.412-8.636l16.419 8.624l-3.142-18.278l13.276-12.95l-18.354-2.66z"></path>
                            </svg>
                            <!-- star icon -->
                            <span class="fw-bold my-4"> {{ product.rating_avg }} </span><span
                                class="text-muted">(امتیاز {{ product.rating_count }} خریدار) </span>
                        </p>
                        <div class="my-3" style="width: 180px">
                            {{ color_form }}
                        </div>
                        <div class="my-4">
                            <p>توضیحات:</p>
                            <p>{{ product.description }}</p>
                        </div>


                    </div>
                    <!-- product detail -->

                </div>
            </div>
        </div>
        <!-- store product detail -->

    </div>
    <!-- product section -->

    <!-- vendors section -->
    <div id="" class="container border rounded-3 mx-auto mt-5 py-3 bg-white">
        <h4 class="text-center mb-4">فروشندگان این محصول</h4>
        <section id="vendors-container">

        </section>
    </div>
    <!-- vendors section -->

    <!-- comments section -->
    <div class="container row rounded-3 mx-auto mt-5 p-0 ">
        <!-- comment form -->
        {% if request.user.is_authenticated and is_customer %}
            <div class="col-3 border rounded-3 ms-3 p-4 bg-white">
                <form action="{% url 'products:comment-create' product.id %}" method="post"
                      class="position-sticky sticky-top mt-3 pt-5">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success fw-bold fs-5">ثبت</button>
                    </div>
                </form>
            </div>
        {% endif %}
        <!-- comment form -->

        <!-- comment list -->
        <div class="col border p-3 rounded-3 bg-white">
            {% include 'products/comment_list.html' %}
        </div>
        <!-- comment list -->
    </div>
    <!-- comments section -->

    <!-- pagination -->
    {% if is_paginated %}

        <div class="row" dir="ltr">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'products:store-product-list' %}?page={{ page_obj.previous_page_number }}&{{ ordering }}"
                               title="قبلی" aria-label="Previous">
                                <span aria-hidden="true">قبلی</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="#">
                            <span class="current"
                                  dir="rtl"> صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }} </span>
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="{% url 'products:store-product-list' %}?page={{ page_obj.next_page_number }}&{{ ordering }}"
                               title="بعدی"
                               aria-label="Next">
                                <span aria-hidden="true">بعدی</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    <!-- pagination -->
{% endblock content %}

{% block js %}
    <script src="{% static 'products/js/storeProductVendors.js' %}"></script>
{% endblock %}
