{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div style="min-height: 500px">
        <div class="container-fluid text-center h-100">
            <div class="row align-items-start">
                <div class="col-1 border-left d-flex flex-column">
                    {% block side-bar %}

                    {% endblock %}
                </div>
                <div class="col-5 ">
                    {% block main-content %}

                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
