{% extends 'website/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid text-center p-5">
    <div class="row h-100">
        <div class="col-2  border rounded-3  bg-white" style="min-height: 500px;">
            <div class="list-group list-group-flush my-4 ">
                {% block side-bar %}
                
                {% endblock %}

            </div>
        </div>
        <div class="col-10 " style="min-height: 500px;">
            <div class="row mx-4 p-3 border rounded-3 h-100  bg-white">
                {% block main-content %}
                   
                {% endblock %}
            </div>
        </div>
    </div>


</div>


{% endblock %}